header {background-color: #3f4142;
		    padding: 30px}

.container {width: 1000px;
            margin: 0 auto;}

.logo {width: 158px;
       height: 33px;
       margin: 0 215px 0 0px;}

.box {box-sizing: border-box;}

.inline {display: inline-block;
		vertical-align: top}

.but {height: 38px;
	    width: 250px;
      background-image: url(../img/grad_yellow.png);
      background-repeat: repeat-x;}

.but-grey {height: 38px;
           width: 215px;
           background-image: url(../img/grad_grey.png);
           background-repeat: repeat-x;}

.tahoma {font-family: tahoma;}
.times {font-family: times new roman;}
.verdana {font-family: verdana;}

.px14 {font-size: 14px;}
.px15 {font-size: 15px;}
.px16 {font-size: 16px;}
.px18 {font-size: 18px;}
.px24 {font-size: 24px;}
.px30 {font-size: 30px;}
.px36 {font-size: 36px;}
.px48 {font-size: 48px;}


.col-white {color: white;}
.col-yellow {color: #987625;}
.col-black {color: black;}
.col-liteYellow {color: #f3af00;}
.col-darkGrey {color: #3b3d3e;}
.col-pochta {color: #e6a91c;}

.podch {text-decoration: underline;}

.fon-grey {background-color: #949ba3;}
.fon-litegrey {background-color: #e4e4e4;}
.fon-darkGrey {background-color: #80807f}

img {width: 100%;}

.text-centr {text-align: center;}
.text-left {text-align: left;}

.rel {position: relative;}
.abs {position: absolute;}

.phone {width: 167px;
        background: url(../img/phone.png) no-repeat left center;
        padding-left: 15px;}

div.but>span {line-height: 38px;}

button {margin-right: 199px;}

div.phone>span:first-child {padding-left: 25px;}
div.phone>span:last-child {padding-left: 10px;}

div.fon-grey {padding: 24px 0 105px 0;}
div.fon-grey>span:first-child {margin-bottom: 115px;}

.gruz {height: 341px;
       left: 0px;
       top: -65px;
       /*box-shadow: 0px 0px 8px;*/
       overflow: hidden;}

.zayavka {width: 250px;
	        background-color: rgba(0, 0, 0, 0.5);
          top: -65px;
          right: 0;
          padding-top: 47px;}

div.zayavka>p.verdana:nth-child(2) {margin: 18px 0 30px 0;
                                   line-height: 25px;}

div.zayavka input {width: 210px;
                   margin-bottom: 16px;}
div.zayavka input:last-child {margin-bottom: 29px;}

div.zayavka>button {margin: 0 0 47px 3px;}

input::-webkit-input-placeholder {color: black;}

input {padding-left: 20px;}

.action {width: 749px;
         height: 97px;
         background-image: url(../img/action.png);
         left: 0;
         bottom: -273px;
         padding: 7px 0 0 30px;}

.countbox-num {width: 65px;
               height: 65px;
               display: inline-block;
               color: white;
               font-family: verdana;
               font-size: 14px;
               text-align: center;}

.countbox-space {margin-right: 10px;
                 display: inline-block;}

.countbox-num-item {width: 27px;
                    height: 44px;
                    border-right: 1px solid black;
                    display: inline-block;
                    font-family: verdana;
                    font-size: 30px;
                    font-weight: 500px;
                    color: black;
                    line-height: 44px;
                    margin-right: 3px;
                    background-image: url(../img/fon.png);}

.time {top: 20px;
       left: 418px;}

.vibor {height: 410px;
        background-color: #d1d1d1;}

main>div.container {margin-bottom: 350px;}

div.vibor>div.container, div.kontakt>div.container {padding-top: 50px;}

div.vibor>div.container>div.pad {margin-bottom: 65px;}

.pochemu {width: 160px;
          margin-right: 60px;}

div.vibor div.pochemu:last-child {margin-right: 0;}

.icon {width: 133px;
       height: 133px;
       background-image: url(../img/sprite.png);
       background-repeat: no-repeat;}

.icon-oper {background-position: 0 0;}
.icon-tovar {background-position: 0 -138px;}
.icon-posil {background-position: 0 -275px;}
.icon-schet {background-position: 0 -415px;}


div.icon {margin: 0 0 20px 13px;}

.kontakt {height: 240px;
          margin-bottom: 50px;}

div.kontakt>div.container>p:first-child {padding-bottom: 25px;}

.otstup40 {padding-bottom: 40px;}
.otstup64 {padding-bottom: 64px;}

div.kontakt button {width: 205px;
                    height: 35px;
                     margin-right: 0px;}

div.kontakt input {width: 205px;
                   height: 29px;
                   margin-right: 32px;
                  background-color: #e4e4e4;}

div.kontakt form {margin-bottom: 40px;}

.otziv {width: 465px;
        background-color: #dddddd;
        margin-right: 45px;
        padding: 17px 7px 20px 33px;}

.photo {height: 157px;
        width: 157px;
        border-radius: 157px;
        overflow: hidden;}

.user {width: 224px;
       padding-left: 40px;}

div.user>p {padding-bottom: 18px;}

div.user>p:nth-child(2) {line-height: 16px;}

div.otziv>p {line-height: 18px;}

div.container>div.otziv:last-child {margin-right: 0;}

div.otziv {margin-bottom: 55px;}

.karta-kont {padding: 50px 0 0 0;}

div.karta-kont p {padding-bottom: 35px;}

.karta {width: 510px;
        height: 305px;
        border: 5px solid #3b3d3e;
        overflow: hidden;
        margin-right: 50px;}

div.karta-kont>div.container {padding: 0 0 50px 125px;}

.cont {width: 310px;}

div.cont>p {padding-bottom: 10px;}

hr {height: 1px;
    background-color: black;
    border:none;
    margin-bottom: 17px;}

div.cont>button {width: 305px;
                 height: 30px;}

div.cont>p:nth-child(5) {padding-bottom: 0px;}

footer {height: 140px;
        background-color: #3c3c3c;}

footer p {line-height: 140px;}